/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/bower_components/
.vagrant
.DS_Store
Thumbs.db
composer.phar
/nbproject
*.directory
.buildpath
.project
.settings/
/storage/
.firebase.json